---
name: terraform-checks

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Setup tflint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: v0.57.0

      - name: Run tflint
        run: |
          tflint --init
          tflint
