---
name: terraform-docs

on:
  workflow_call:
    secrets:
      AUTOMATION_PAT:
        required: true

permissions:
  contents: read

concurrency:
  group: pr-${{ github.repository }}-${{ github.event.pull_request.number }}-docs
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.AUTOMATION_PAT }}

      - uses: terraform-docs/gh-actions@v1
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"
