---
name: terraform-pr

on:
  workflow_call:
    secrets:
      AUTOMATION_PAT:
        required: true

permissions:
  contents: read

concurrency:
  group: pr-${{ github.repository }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Setup tflint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: v0.57.0

      - name: Run tflint
        run: |
          tflint --init
          tflint

  docs:
    runs-on: ubuntu-latest
    needs: lint
    if: github.repository_owner == 'cesargoncalves'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.AUTOMATION_PAT }}

      - name: Update README
        uses: terraform-docs/gh-actions@v1
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"
