---
name: terraform-release

on:
  workflow_call:
    secrets:
      AUTOMATION_PAT:
        required: true

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.AUTOMATION_PAT }}
          release-type: terraform-module
